# {{ spec.ID }}: {{ spec.Title | title }}

**Slug:** {{ spec.Slug }}

**Implementation Types:**

{% for implementation in spec['Implementation Types'] -%}
* {{ implementation | title }}
{%- endfor %}

## Descriptive Statement

{{ spec.Description }}

## Supplemental Guidance

{% for note in spec['Supplemental Guidance'] -%}
{{ note }}
{% endfor %}
## Scoring Guide

**Weight:** {{ spec.Weight | default('Weight is not defined') }}

### Formula

{{ spec.Formula | default('Formula is not defined') | trim }}

### Scoring Details

**Score Type:** {{ spec['Score Type'] | default('Score Type is not defined') }}

| Score | Condition |
| ----- | --------- |
{%- for detail in spec.Scoring %}
| {{ detail.Score }} | {{ detail.Condition }} |
{%- endfor %}

## References

<!-- pyml disable line-length-->
{% for reference in spec.References -%}
* [{{ reference.Name | title }}]({{ reference.Link }}): {{ reference.Comment }}
{% endfor %}{% if spec.Overrides %}
## Overrides

| Profile | Weight Update | Title Update | Description Update |
| ------- | ------------- | ------------ | ------------------ |
{%- for override in spec.Overrides %}
| {{ override.Profile }} | {{ override.WeightUpdate|default('None') }} | {{ override.TitleUpdate|default('None') }} | {{ override.DescriptionUpdate|default('None') }} |
{%- endfor %}
{% endif %}